body{
    width: 100%;
    height: 100vh;
    margin: 0%;
    padding: 0%;
    background: #E5EBED;
}

html{
    scroll-behavior: smooth;
}

.tech-img-white{
    position: fixed;
    width: 40px;
    height: 40px;
    z-index: 9999;
    right: 0%;
    opacity: 0%;
    bottom: 0%;
    margin: 1%;
      animation: tech-white linear;
    animation-timeline: view();
animation-range: entry 90% cover 100%;

}

.tech-img{
    position: fixed;
    width: 40px;
    height: 40px;
    z-index: 9999;
    right: 0%;
    bottom: 0%;
    margin: 1%;
}

@keyframes tech-white{
    0%{
        opacity: 100%;
    }

    
      10%{
        opacity: 0%;
    }

      100%{
        opacity: 0%;
    }
}

.conteudo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbar{
    background: #751f1f;
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
   position: fixed;
   z-index: 99;
}

.navbar a{
    margin-right: 2%;
    font-family: Inter;
    text-decoration: none;
    color: #E5EBED;
    font-size: 50%;
    transition: 1s;
}


.navbar a:hover{
        color: #d4abab;

}

#whatssap:hover{
    background: #864444;
    

}

#whatssap{
    background: #5f1a1a;
    padding-right: 0.5%;
        padding-left: 0.5%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    border-radius: 20px;
}

.navbar img{
    position: absolute;
    width: 25px;
    height: 20px;
    left: 0%;
    margin-left: 1%;
}





.conteudo-2{
    width: 100%;
    height: 100%;
   
}


.conteudo-3{
    width: 100%;
    height: 100%;
   
}

.text{
    height: 100%;
    width: 50%;
    color: 1A1E1F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 20px;
    text-align: start;
    font-family: Inter;
    color: #1A1E1F;
}

.text p{
    width: 50%;
}

.final{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 20px;
    text-align: start;
    font-family: Inter;
    color: #1A1E1F;
    gap: 10%;
}

.final p{
    width: 80%;
}

.final span{
    color: #751f1f;
    font-weight: bold;
    font-size: 25px;
    font-family: Prompt;
}

.clientes{
    position: relative;
    height: 35%;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
   
}

@keyframes clientes{
    0%{
        opacity: 100%;
        bottom: 10px;
    }

     100%{
             bottom: 0px;

        opacity: 70%;
    }
}

.clientes-notas{
    width: 150px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Inter;
    font-weight: 400;
     animation: clientes 1s infinite alternate-reverse;
}

.clientes-notas img{
    width: 40px;
    height: 40px;
}

.clientes-notas p{
    width: 100%;
    font-size: 12px;
}

#nome-cliente{
    width: 100%;
    text-align: center;
    margin-bottom: 1%;
    font-weight: 600;
    font-family: Inter;
}

.conteudo img{
    width: 40%;
    height: 50%;
    z-index: 2;
    position: fixed;
    left: 50%;

     animation: anima-motos linear;
    animation-timeline: view();
animation-range: entry 90% cover 100%;

}



@keyframes anima-motos{
    0%{
        left: 20%;
    }

    100%{
left: 50%;
    }
    
}



.container{
    position: absolute;
   background: linear-gradient( to top,
 #290b0b, #751f1f
);
    width: 100%;
    height: 100%;
    z-index: 1;
}

h1{
    position: relative;
    font-family: Prompt;
    z-index: 1;
    bottom: 20%;
    font-size: 6rem;
    text-align: center;
    color: #E5EBED;
}

h2{
    position: relative;
    font-family: Prompt;
    z-index: 1;
    font-size: 6rem;
   
    color: #E5EBED;
}

#porcentagens{
    width: 50%;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    color: #111414;
}

#marcas{
    position: relative;
    width: 50%;
    font-size: 60%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    font-weight: bold;
    gap: 5%;
}

#marcas p{
    width: 15%;
    text-align: center;
        color: #111414;

}

span{
    color: #290b0bd3;
    font-weight: bold;
    font-size: 25px;
    font-family: Prompt;
}

#sub-title{
    font-size: 15px;
    font-family: Inter;
    color: #1A1E1F;
    font-weight: 500;
}

.conteudo p{
    position: absolute;
    color: #E5EBED;
    font-family: Prompt;
    left: 0%;
    margin-left: 2%;
    bottom: 0%;
    z-index: 9999;
}

@media(max-width:768px){
    h1{
        font-size: 4rem;
        bottom: 15%;
    }


.conteudo img{
  width: 50%;
    height: 200px;
}

.navbar{
    gap: 5%;
}

@keyframes anima-motos{
    0%{
        left: 10%;
    }

    100%{
left: 50%;
    }
    
}

.text {
    gap: 3%;
}

.text p{
    font-size: 12px;
    height: 20%;
    width: 90%;
}



.text span{
    font-size: 1rem;
}

#porcentagens{
    width: 100%;
    font-size: 1px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    color: #111414;
    gap: 5%;
}

#porcentagens p{
    font-size: 8px;
    text-align: center;
}

#marcas{
    width: 100%;
    font-size: 6%;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    color: #111414;
    gap: 12%;
}

#marcas p{
    padding: 2%;
    width: 24%;
}

.final span{
    color: #751f1f;
    font-weight: bold;
    font-size: 15px;
    font-family: Prompt;
    width: 100%;
    text-align: center;
}

.clientes{
    height: 90%;
    flex-direction: column;
    gap: 12%;
}

.clientes-notas p{
    font-size: 8px;
}

.final span{
    height: 10%;
}

.final{
    gap: 0%;
}

#whatssap{
    padding-left: 2%;
    padding-right: 2%;
}
.conteudo p{
    position: absolute;
    font-size: 10px;
    margin-left: 3%;
    margin-bottom: 3.5%;
    width: 70%;
}
}
