body{
    position: absolute;
    background: grey;
  margin: 0;
height: 100%;
     width: 100%;
}

html {
    scroll-behavior: smooth;
}

.navbar{
    position: fixed;
    
    width: 100%;
    height: 5%;
    display: flex;
    z-index: 99;
     align-items: center;
    align-content: center;
    justify-content: center;
    gap: 5%;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 60%;
}

.navbar a{
    cursor: pointer;
    text-decoration: none;
    transition: 0.7s;
    color: rgba(255, 255, 255, 0.521);
}

.navbar a:hover{
    color: white;
}

#agendar{
    position: absolute;
    top: 0%;
    right: 1%;
    width: 4%;
    height: 40%;
    border: 1px solid rgba(255, 255, 255, 0.315);
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.7s;
}

#agendar:hover{
background: rgba(255, 255, 255, 0.2);
}

.logo_jp{
    position: absolute;
    width: 2%;
    height: 70%;
    left: 2%;
}

.container{
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.container_extra{
    width: 100%;
    height: 6%;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    gap: 5%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.img_container{
    position: absolute;
     width: 100%;
    height: 100%;
    z-index: 1;
}

.img_container_mobile{
    position: absolute;
     width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0%;
}

.vd_container{
    position: absolute;
    opacity: 50%;
   max-width: 100%;
   height: auto;
     z-index: 0;
}



.card_container2{
    z-index: 2;
    background:linear-gradient(340deg,
    rgba(32, 0, 0, 0.555),rgba(255, 184, 184, 0.493)) ;
    font-family:Arial, Helvetica, sans-serif;
   backdrop-filter: blur(10px);
    color: rgb(0, 0, 0);
    height: 40%;
    width: 20%;
    font-size: 80%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 30px black;
    border: 1px solid rgba(77, 0, 0, 0.329);
    display: flex;
    flex-direction:column;
    align-content: center;
    justify-content: center;
    align-items: center;
    
}



.cards_container2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 9%;
}

.card_servcos{
    position: relative;
    z-index: 2;
    width: 40%;
    height: 50%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    right: -27%;
    top: 10%;
}

.card_servcos p{
    border-bottom: 1px solid white;
}

.title_cardservicos{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    height: 30%;
    top: -11%;

    font-size: 200%;
}

.title_cardservicos h4{
  color: white;
    font-family: monospace;
  margin: 0%;

    font-size: 100%;
}

.title_cardservicos p{
color: rgb(255, 255, 255);
  margin-top: 1%;
border: none;
font-size: 50%;
}

span{
    color: rgb(59, 0, 0);
}

.conteudo{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 5;
    
   
}

.moto_marca1{
    position: absolute;
    width: 100%;
    opacity: 0%;
    left: -20%;
    z-index: 1;
    height: 100%;
    transition: 1s;
}

.moto_marca2{
    position: absolute;
    width: 100%;
    opacity: 0%;
    left: -20%;
    z-index: 1;
    height: 100%;
    transition: 1s;
}

.moto_marca3{
    position: absolute;
    width: 100%;
    opacity: 0%;
    left: -20%;
    z-index: 1;
    height: 100%;
    transition: 1s;
}


.moto_marca1_mobile{
    position: absolute;
    width: 100%;
    opacity: 0%;
    z-index: 1;
    height: 100%;
    transition: 1s;
}

.moto_marca2_mobile{
    position: absolute;
    width: 100%;
    opacity: 0%;
    z-index: 1;
    height: 100%;
    transition: 1s;
}

.moto_marca3_mobile{
    position: absolute;
    width: 100%;
    opacity: 0%;
    z-index: 1;
    height: 100%;
    transition: 1s;
}

.logo_marca1{
    position: relative;
    z-index: 5;
  width: 8%;
    height: 12%;
    right: 0%;
    margin: 2%;
    
}

.logo_marca2{
    position: relative;
    z-index: 5;
        margin: 2%;

     width: 8%;
    height: 12%;
    right: 0%;
}

.logo_marca3{
    position: relative;
    z-index: 5;
        margin: 2%;

    width: 8%;
    height: 12%;
    right: 0%;
    
}

.logo_marca1:hover ~ .moto_marca1{
opacity: 100%;
left: 0%;
    z-index: 1;

}

.logo_marca2:hover ~ .moto_marca3{
opacity: 100%;
left: 0%;
    z-index: 1;

}

.logo_marca3:hover ~ .moto_marca2{
opacity: 100%;
left: 0%;
    z-index: 1;
}

.marca{
    position: relative;
     display: flex;
    flex-direction: column;
   height: 100%;
   align-items: end;
   justify-content: center;
}

@media(max-width:768px){
    .container{
        width: 100%;
        height: 50%;
    }

    .img_container{
    position: absolute;
     width: 100%;
    height: 50%;
    z-index: 1;
}

.vd_container{
       position: absolute;
    opacity: 100%;
   max-width: 100%;
   height: auto;
     z-index: 0;
     
}

#agendar{
    right: 5%;
    width: 13%;
}

.logo_jp{
    left: 5%;
    width: 8%;
    height: 60%;
}

h2{
    font-size: 80%;
}

.card_container2{
    width: 40%;
      background:linear-gradient(340deg,
    rgba(32, 0, 0, 0.315),rgba(255, 184, 184, 0.342)) ;
   backdrop-filter: blur(5px);
}

.card_container2 p{
    text-decoration: none;
    font-size: 70%;
}

.navbar{
    width: 100%;
}

.card_servcos{
    width: 50%;
    height: 80%;
     right: 0%;
    top: 0%;
    display: flex;
    flex-direction: column;
   align-items: center;
    font-size: 80%;
       background:linear-gradient(340deg,
    rgba(0, 0, 0, 0.270),rgba(255, 255, 255, 0.270)) ;
   backdrop-filter: blur(5px);
   color: rgb(0, 0, 0);
     border-radius: 5px;
    box-shadow: 0 4px 30px black;
    border: 1px solid rgba(0, 0, 0, 0.329);
}

.card_servcos p{
    width: 90%;
    margin: 5%;
    font-size: 80%;
    position: relative;
    text-align: center;
    border-bottom: 1px solid black;
}

.title_cardservicos{
    font-size: 100%;
    width: 100%;
    position: relative;
    top: 0%;
    text-align: center;
}

.title_cardservicos p{
    border: none;
    color: black;
}

.img_container_mobile{
    position: absolute;
     width: 100%;
    height: 50%;
    z-index: 2;
    opacity: 100%;
}

.marca{
    flex-direction: row;
    align-items: center;
}

.logo_marca1{
    width: 20%;
    height: 20%;
}

.logo_marca2{
    width: 20%;
    height: 20%;
}

.logo_marca3{
    width: 20%;
    height: 20%;
}

.logo_marca3:hover ~ .moto_marca3_mobile{
opacity: 100%;
    z-index: 1;
}

.logo_marca3:hover ~ .moto_marca2{
opacity: 0%;
    z-index: 1;
}


.logo_marca2:hover ~ .moto_marca2_mobile{
opacity: 100%;
    z-index: 1;
}

.logo_marca2:hover ~ .moto_marca3{
opacity: 0%;
    z-index: 1;
}

.logo_marca1:hover ~ .moto_marca1_mobile{
opacity: 100%;
    z-index: 1;
}

.logo_marca1:hover ~ .moto_marca1{
opacity: 0%;
    z-index: 1;
}

}